/*========================================================

[Theme Color Stylesheet]

Project     : BNS Cloud
Version     : 1.1
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

========================================================*/

.ColorSwitcher__control {
	color: #2E5AE8;
}